<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>个人博客模板古典系列之――江南墨卷</title>
<meta name="keywords" content="个人博客模板古典系列之――江南墨卷" />
<meta name="description" content="个人博客模板古典系列之――江南墨卷" />
<link href="__PUBLIC__/home/css/base.css" rel="stylesheet">
<link href="__PUBLIC__/home/css/main.css" rel="stylesheet">
<link  rel="stylesheet" href="__PUBLIC__/home/css/main.css" />
<link rel="stylesheet" type="text/css" href="__PUBLIC__/home/css/sinaFaceAndEffec.css" />
<!--[if lt IE 9]>
<script src="__PUBLIC__/home/js/modernizr.js"></script>
<![endif]-->
<script type="text/javascript" src="__PUBLIC__/home/js/jquery.js"></script>
</head>
<body>
<div id="wrapper">
  <header>
    <div class="headtop"></div>
    <div class="contenttop">
      <div class="logo f_l">个人博客模板古典系列之――江南墨卷</div>
      <div class="search f_r">
        <form action="{:U('Home/index/index')}" method="post" name="searchform" id="searchform">
          <input name="desc" id="keyboard" class="input_text" value="请输入关键字" style="color: rgb(153, 153, 153);" onfocus="if(value=='请输入关键字'){this.style.color='#000';value=''}" onblur="if(value==''){this.style.color='#999';value='请输入关键字'}" type="text">
          <input name="show" value="title" type="hidden">
          <input name="tempid" value="1" type="hidden">
          <input name="tbname" value="news" type="hidden">
          <input name="Submit" class="input_submit" value="搜索" type="submit">
        </form>
      </div>
      <div class="blank"></div>
      <nav>
        <div  class="navigation">
          <ul class="menu">
            <li><a href="{:U('Home/index/index')}">网站首页</a></li>
            <li><a href="#">关于我</a>
              <ul>
                <li><a href="about.html">个人简介</a></li>
                <li><a href="listpic.html">个人相册</a></li>
              </ul>
            </li>
            <li><a href="#">我的日记</a>
              <ul>
                <li><a href="{:U('Home/About/about')}">个人日记</a></li>
                <li><a href="newslistpic.html">学习笔记</a></li>
              </ul>
            </li>
            <li><a href="newslistpic.html">技术文章</a> 
              <foreach name="catelist" item="cateinfo">
		         <li><a href="{:U('Home/cate/catelist',array('id'=>$cateinfo[id]))}">{$cateinfo[mname]}</a></li>
              </foreach>
            </li>
            <li><a href="{:U('Home/Message/message')}">给我留言</a> </li>
          </ul>
        </div>
      </nav>
      <SCRIPT type=text/javascript>
	// Navigation Menu
	$(function() {
		$(".menu ul").css({display: "none"}); // Opera Fix
		$(".menu li").hover(function(){
			$(this).find('ul:first').css({visibility: "visible",display: "none"}).slideDown("normal");
		},function(){
			$(this).find('ul:first').css({visibility: "hidden"});
		});
	});
</SCRIPT> 
    </div>
  </header>
  <div class="container">
    <div class="con_content">
      <div class="about_box" >
        <h2 class="nh1"><span>您现在的位置是：<a href="/" target="_blank">网站首页</a>>><a href="#" target="_blank">留言</a>
        <div class="f_box" style="margin-left:-800px;">
          <p class="a_title">有什么想对我说，请留言给我！</p>
          <p class="p_title"><b>想对我说什么</b></p>
          <!--  <p class="box_p"><span>发布时间：2017-07-07 15:12:42</span><span>作者：唐孝文</span><span>来源：稽查支队</span><span>点击：111056</span></p>--> 
          <!-- 可用于内容模板 --> 
        </div>
    
        <!--  
        <ul class="about_content">
          <p> 人生就是一个得与失的过程，而我却是一个幸运者，得到的永远比失去的多。生活的压力迫使我放弃了轻松的前台接待，放弃了体面的编辑，换来虽有些蓬头垢面的工作，但是我仍然很享受那些熬得只剩下黑眼圈的日子，因为我在学习使用Photoshop、Flash、Dreamweaver、ASP、PHP、JSP...中激发了兴趣，然后越走越远....</p>
          <p><img src="__PUBLIC__/home/images/01.jpg"></p>
          <p>“冥冥中该来则来，无处可逃”。 </p>
        </ul>
        <!--    <div class="nextinfos">
      <p>上一篇：<a href="/">区中医医院开展志愿服务活动</a></p>
      <p>下一篇：<a href="/">广安区批准“单独两孩”500例</a></p>
    </div>--> 
        <!-- 可用于内容模板 --> 
        
        <!-- container代码 结束 --> 
      </div>
      <div id="content" style="width: 700px; height: auto;margin-left:100px;margin-top:40px">
	<div class="wrap">
		<div class="comment">
			<div class="head-face">
				<img src="__PUBLIC__/home/images/1.jpg" / >
				<p>我是鸟</p>
			</div>
			<div class="content">
				<div class="cont-box">
					<textarea class="text" placeholder="请输入..."></textarea>
				</div>
				<div class="tools-box">
					<div class="operator-box-btn"><span class="face-icon"  >☺</span><span class="img-icon">▧</span></div>
					<div class="submit-btn"><input type="button" onClick="out()"value="提交评论" /></div>
				</div>
			</div>
		</div>
		<div id="info-show">
			<ul>
			<foreach name="messlist" item="messinfo">
			  <li>
				<div class="head-face">';
				  <img src="{$messinfo[uimage]}" />
				</div>
				<div class="reply-cont">
				  <p class="username">{$messinfo[uname]}</p>
				  <p class="comment-body">{$messinfo[content]}</p>
				  <p class="comment-footer">{$messinfo[mtime]|date="Y-m-d H:i:s",###} <a href="">回复</a>　点赞0　转发0</p>
				</div>
			  </li>
			  </foreach>
			</ul>
		</div>
	</div>
    </div>

<script type="text/javascript" src="__PUBLIC__/home/js/main.js"></script>
<script type="text/javascript" src="__PUBLIC__/home/js/sinaFaceAndEffec.js"></script>
<script type="text/javascript">
	// 绑定表情
	$('.face-icon').SinaEmotion($('.text'));
	// 测试本地解析
	function out() {
		var content = $('.text').val();
		var timetamp = Date.parse(new date());
		var parm = {
				type:'post',
				data:{uname:uname,uimage:uimage,content:content,mtime:timetamp,pid:'0'},
				success:function(msg){
					if('success'==msg){
						$('#info-show ul').append(reply(AnalyticEmotion(content)));				
					}else if('error'==msg){
						alert('评论失败');
					}else{
						alert(msg);
					}
				}
		};
		$.ajax("{:U('Home/Message/messadd')}",parm);
	}
	
	var html;
	function reply(content){
		html  = '<li>';
		html += '<div class="head-face">';
		html += '<img src="__PUBLIC__/home/images/1.jpg" / >';
		html += '</div>';
		html += '<div class="reply-cont">';
		html += '<p class="username">小小红色飞机</p>';
		html += '<p class="comment-body">'+content+'</p>';
		html += '<p class="comment-footer">2016年10月5日　回复　点赞54　转发12</p>';
		html += '</div>';
		html += '</li>';
		return html;
	}
</script>
    </div>
    <div class="blank"></div>
  </div>
  <!-- container代码 结束 -->
  
  <footer>
    <div class="footer">
      <div class="f_l">
        <p>All Rights Reserved 版权所有：<a href="http://www.yangqq.com">杨青个人博客</a> 备案号：蜀ICP备00000000号</p>
      </div>
      <div class="f_r textr">
        <p>Design by DanceSmile</p>
      </div>
    </div>
  </footer>
</div>
</body>
</html>
